.App {
  text-align: center;
}

.App-cat {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffc6c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #00618F;
}

.App-link {
  color: #282c34;
}
